.calculator-box {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    outline: dashed 2px black;
    height: 300px;
    width: 250px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -125px;
}

.row {
    outline: dotted 3px red;
    display: flex;
    flex-grow: 1;
}

.output {
    height: 50px;
    width: 250px;
    outline: solid 2px blue;
}

button {
    flex: 1;
}

.double-wide {
    flex: 2;
}
